.App {
    text-align: center;
}

.App-header {
    background-image: url('assets/title-background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-panel {
    background-color: #282c34b6;
    border-radius: 4pt;
    padding: 3%;
    margin: 3%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-prayer {
    text-align: left;
}

.App-prayer-line {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.App-beads-line {
    flex-direction: row;
}

.App-beads {
    margin: 2pt;
    width: 16pt;
    height: 16pt;
}

.App-link-row {
    flex-direction: row;
}

.App-link {
    font-style: italic;
    font-weight: lighter;
    margin: 2pt;
}

.App-row {
    flex-direction: row;
}

.Button {
    margin: 2pt;
    color: white;
    cursor: pointer;
    background-color: #5079cc;
    border: none;
    outline: none;
    padding: 8pt 16pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4pt;
    box-shadow: 0 9px #27395c;
}

.Button:hover {
    background-color: #325caf;
}

/* Get rid of that annoying focus box. */
.Button:focus {
    outline: none;
    outline-style: none;
}

.Button:active {
    background-color: #325caf;
    box-shadow: 0 5px #1b273f;
    transform: translateY(4px);
}

.Button.wide {
    width: 50%;
}

.Fade-enter {
    opacity: 0;
    z-index: 1;
}

.Fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}